<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @answer.user.username %>
</p>

<p>
  <strong>Questionnaire:</strong>
  <%= @answer.questionnaire.id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @answer.category.name %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question.question %>
</p>

<p>
  <strong>Option:</strong>
  <%= @answer.option.option %>
</p>

<p>
  <strong>Value:</strong>
  <%= @answer.value %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
