<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @questionnaire.user.username %>
</p>

<p>
  <strong>Value:</strong>
  <%= @questionnaire.value %>
</p>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
