<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Max value:</strong>
  <%= @category.max_value %>
</p>

<p>
  <strong>Min value:</strong>
  <%= @category.min_value %>
</p>

<p>
  <strong>Good below:</strong>
  <%= @category.good_below %>
</p>

<p>
  <strong>Average below:</strong>
  <%= @category.average_below %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
